{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
    <form method="post">
    <section class="login">
        <div class="container">
         

          
            <h1>Login Form</h1>
           
                {% csrf_token %}

                <input type="text" id="text" placeholder="username"name='username'>
                <input type="password" id="pass" placeholder="Password" name="password">

            <div class="forget">
                <a href="#" id="fgpass">Forgot Password</a>
            </div>
            <button type="submit" id="loginBtn" class="hover_btn">Login</button>
       
            <div class="sgnUp">
                <p id="member">Not A Member?</p>
                <a href="#" id="sgn_now">SignUp Now</a>
           
                
      
            </div>

        </div>
        
    </section>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>




<!-- 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
    <section class="login">
        <div class="container">
            <h1>Login Form</h1>
         
              
                
           
            <form method="post">
        {% csrf_token %}
           
            <input type="text" id="email" placeholder="Email Adress"name='username'>
            <input type="password" id="pass" placeholder="Pasword" name="password">
            <div class="forget">
                <a href="#" id="fgpass">Forgot Password</a>
            </div>
            <div class="lgn">
            <button type="submit" id="login" class="btn hover_btn"> Login </button>
        </div>
            <div class="sgnUp">
                <p id="member">Not A Member?</p>
                <a href="#" id="sgn_now">SignUp Now</a>
            </div>
        </form>
        </div>
    </section>
</body>
</html> -->